@import "nullstyle.scss";
@import "style.scss";

@font-face {
    font-family: onest;
    src: url(../fonts/OnestRegular1602-hint.woff);
}

.crypto-topics {
    &__all {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 90px;
        &__row {
            display: flex;
            gap: 20px;
        }
    }
}