@import "nullstyle.scss";
@import "style.scss";

@font-face {
    font-family: onest;
    src: url(../fonts/OnestRegular1602-hint.woff);
}

.header {
    background: $bckgColor;
}

.bckg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;

    &__img {
        position: relative;
        z-index: 0;
        width: 100%;

    }

    p {
        position: absolute;
        font-size: 50px;
        font-weight: 800;
        color: $whiteColor;
        letter-spacing: 2px;
    }

    &__arrow {
        display: block;
        position: absolute;
        top: 10%;
        left: 7.5%;
        background: $whiteColor;
        padding: 15px;
        border-radius: 20px;
    }
}

.expert {
    width: 70%;
    margin: 0 auto;
    margin-top: -20px;
    padding: 40px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(62, 53, 120, 0.1);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__left {
            width: 70%;
            display: flex;
            gap: 60px;

            img {
                border-radius: 94.5px;
            }

            &__info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 20px;

                &__about {
                    display: flex;
                    gap: 30px;

                    &__text {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;

                        &__name {
                            font-size: 35px;
                            font-weight: 600;
                        }

                        &__rating {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-weight: 600;
                        }
                    }

                }

                &__extra {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 30px;

                    &__block {
                        display: flex;
                        flex-direction: column;

                        &__label {
                            font-size: $fs;
                            font-weight: 400;
                            margin-bottom: 5px;
                        }

                        &__text {
                            font-size: $fs;
                            font-weight: 600;
                        }
                    }
                }

                &__status {

                    p {
                        color: $purpleColor;
                        border: 1px solid $purpleColor;
                        border-radius: 39px;
                        font-size: 14px;
                        font-weight: 700;
                        padding: 10px 16px;
                    }
                }
            }
        }

        &__right {
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 16px;

            button {
                background: $purpleColor;
                padding: 15px 30px;
                color: $whiteColor;
                font-size: $fs;
                font-weight: 700;
                border-radius: 60px;
                box-shadow: 0px 5px 29px rgba(62, 53, 120, 0.14);
            }
        }
    }

    &__tags {
        align-self: flex-start;
        display: flex;
        gap: 20px;

        &-1,
        &-2,
        &-3,
        &-4,
        &-5 {
            color: $purpleColor;
            border: 1px solid #E9E6FE;
            border-radius: 50px;
            padding: 8px 22px;
        }
    }

    &__video {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &__text {
        p {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;

        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 8px 24px rgba(31, 31, 51, 0.1);
            border-radius: 10px;

            &__img {
                width: 100%;
                border-radius: 10px 10px 0 0;
            }

            &__text {
                display: flex;
                flex-direction: column;
                gap: 40px;
                padding: 20px;

                &__author {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    &__img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    &__name {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        &__rating {
                            display: flex;
                            align-items: flex-end;
                            gap: 10px;
                        }
                    }
                }

                &__title {
                    font-size: $fs;
                    font-weight: 600;
                }

                &__call {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &__price {
                        font-size: 19px;
                        font-weight: 600;
                        margin-right: 20px;
                    }

                    &__minute {
                        font-size: $fs;
                        font-weight: 500;
                    }

                    &__btn {
                        color: $whiteColor;
                        font-size: $fs;
                        font-weight: 700;
                        background: $purpleColor;
                        padding: 13px 23px;
                        border-radius: 39px;
                        box-shadow: 0px 10px 29px rgba(62, 53, 120, 0.14);
                    }
                }
            }
        }
    }
}